<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Welcome <span th:text="${name}"></span>!!! Today is <span th:text="${date}"></span></h3>
    <div>
        <ul th:each="product : ${productList.products}">
            <li>
                <p>
                    <span th:text="${product.productName}"></span>:
                    <span th:text="${product.productPrice}"></span>
                </p>
            </li>
        </ul>
    </div>
    <div>
        <em>Product requested on <span th:text="${productList.localDateTime}"></span></em>
    </div>
</body>
</html>